---
import { Image } from 'astro:assets';
import DImage from '../../assets/icons/D.webp';
---

<div class='d-letter-container' {...Astro.props}>
	<Image
		src={DImage}
		alt='Logo D'
		class='d-letter-image w-auto h-2/5'
		id='dLetter'
	/>
</div>
